<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitHub search</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
    <div id="app">
        <!-- Favorites -->
        <div class="favorites">
        </div>

        <!-- Content -->
        <article class="content">
            <h1 class="content__title">Buscando Usuarios De Github</h1>
            <p>{{message}}</p>
        

            <!-- Search -->
            <form class="search" v-on:submit.prevent="buscar">
                <input type="text" v-model="busqueda" class="search__input" required placeholder="Search GitHub users">
                <input type="submit"  class="search__submit" value="buscar">
            </form>

            <!-- Result -->
            <div class="result" v-if="result">
                <h2 class="result__name">Michael Alexis</h2>
                <img class="result__avatar" src="imagenes/yanfry.jpg" alt=""> 
                <p class="result__bio">aprendiz exitoso graduado de tenologia en ADSI sena</p>
                <a href="www.youtube.com">www.youtube.com</a>
            </div>
            <!-- Error -->
            <div class="result__error"></div>
        </article>
    </div>
    <script src="js/main.js"></script>
    <script>
        //creamos una constante para guardar el acoplamiento.
        const moutedApp = app.mount('#app')
        
    </script>
</body>

</html>