

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body class="bg-neutral-900">
    <!--id mia = 2038590816328474-->
    <div id="app">
        <p class="text-sky-400/75 text-8xl text-center">API DE FACEBOOK</p>
        <div class="mt-12">
        <form form v-on:submit.prevent="buscar" class="search max-w-sm ml-[30rem]">
            <div class="flex items-center border-b border-teal-500 py-2">
              <input v-model="busqueda" class="appearance-none bg-transparent border-none w-full text-neutral-50 mr-3 py-1 px-2 leading-tight focus:outline-none" type="number" placeholder="Digite el ID">
              <input type="submit" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="button">
              
            </div>
          </form>
        </div>
        <div class="ml-[33rem] mt-5 result flex items-center text-center" v-if="result">
            <div class="rounded-lg shadow-lg bg-white max-w-sm justify-center">
                
                <img v-bind:src="result.picture.data.url" class="ml-[6rem]" alt="" />
                <div class="p-6">
                    <h5 class="text-gray-900 text-xl font-medium mb-2">{{result.name}}</h5>
                    <p class="text-gray-700 text-base mb-4">{{result.email}}</p>
                    <p class="text-gray-700 text-base mb-4">{{result.birthday}}</p>

                </div>
            </div>
        </div>
    </div>
    <script src="main.js"></script>
    <script>
        //creamos una constante para guardar el acoplamiento.
        const moutedApp = app.mount('#app')

    </script>
</body>

</html>